.grayscale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.grayscale:hover {
  filter: none;
  -webkit-filter: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.grayscale:active {
  filter: none;
  -webkit-filter: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.white-background {
  background-color: white;
}

.light-grey-background {
  background-color: #D3D3D3;
}
